<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h2 class="text-center">投稿を編集</h2>
    </div>
  </div>
  <div class="row my-5 tweet-edit">
    <div class="col-sm-6">
      <div class="mb-2 text-center">
        <%= image_tag @tweet.get_image(380, 380), style: "width: 100%;" %>
      </div>
    </div>
    <div class="col-sm-6">
      <%= form_with model: @tweet do |f| %>
        <!--エラーメッセージ-->
        <%= render 'layouts/error_message', model: f.object %>
        <table class="table text-center table-row">
          <tr>
            <th><%= f.label :都道府県を編集 %></th>
            <td>
              <div class="append__prefecture">
                <div class="category">
                  <div class="form__label">
                    <div class="lavel__Required">
                      <%= f.collection_select :prefecture_id, @parents, :id, :name,{ include_blank: "選択してください", selected: @tweet.prefecture.parent.id },class:"serect_field", id:"item_prefecture_id" %>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th><%= f.label :タイトルを編集 %></th>
            <td><%= f.text_field :title, autofocus: true, size: "35",class: "form-control" %></td>
          </tr>
          <tr>
            <th><%= f.label :詳細コメントを編集 %></th>
            <td><%= f.text_area :body, size: "35x10",class: "form-control" %></td>
          </tr>
          <tr>
            <th></th>
            <td><%= f.submit "編集を保存", class: "btn btn-outline-dark" %></td>
          </tr>
        </table>
      <% end %>
    <div>
  </div>
</div>
<div id="edit_prefectuure" style="display: none">edit</div>
<div id="prefecture_id_value" style="display: none"><%=@tweet.prefecture_id %></div>