<h1>投稿を編集</h1>

<div>
  <%= image_tag @tweet.user.get_profile_image(50,50), class: "user-icon" %>
  <%= @tweet.user.name %>
  <%= image_tag @tweet.get_image(500, 500) %>
</div>

<%= form_with model: @tweet do |f| %>

  <%= f.label :都道府県を編集 %>
  <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, { prompt: '選択してください' } %>

  <%= f.label :タイトルを編集 %>
  <%= f.text_field :title, autofocus: true %>

  <%= f.label :詳細コメントを編集 %>
  <%= f.text_area :body %>

  <%= f.submit "編集を保存" %>

<% end %>