<div class="container px-5 px-sm-0 mt-4">
  <div class= "row justify-content-center">
    <div class="col-lg-4">
      <div class="mb-5">
        <%= link_to user_path(current_user.id) ,class: 'text-dark' do %>
         <%= image_tag current_user.get_profile_image(50,50), class: "user-icon" %>　マイページ
         <i class="far fa-user"></i>へ
        <% end %>
      </div>
      <div class="item-categories">
      <%= link_to  tweets_path, class: "prefecture-button", id: 'categoBtn' do %>
        都道府県別でみる
      <% end %>
      <div id="tree_menu">
        <ul class="prefectureTree">
          <% @parents.each do |parent| %>
            <li class="prefecture_parent">
              <%= link_to search_tweet_path(parent) do %>
                <input type="button" value="<%= parent.name %>" name="<%= parent.id %>" class="parent_btn">
              <% end %>
            </li>
          <% end %>
        </ul>
        <ul class="prefectureTree-child">
        </ul>
      </div>
    </div>
    <div class="my-5">&emsp;</div>
  </div>
  <% if @search_tweet %>
    <%= render 'index', tweets: @search_tweet %>
  <% else %>
    <%= render 'index', tweets: @tweets %>
  <% end %>
</div>


