<div class="container px-5 px-sm-0 mt-5">
  <div class= "row">
    <div class="col-lg-4">
      <div class="item-categories">
      <h2>
        都道府県一覧
      </h2>
      <%= link_to  tweets_path, class: "prefecture-button", id: 'categoBtn' do %>
        都道府県から探す
      <% end %>
      <div id="tree_menu">
        <ul class="prefectureTree">
          <% @parents.each do |parent| %>
            <li class="prefecture_parent">
              <%= link_to search_tweet_path(parent) do %>
                <input type="button" value="<%= parent.name %>" name="<%= parent.id %>" class="parent_btn">
              <% end %>
            </li>
          <% end %>
        </ul>
        <ul class="prefectureTree-child">
        </ul>
      </div>
    </div>
  </div>
  <% if @search_tweet %>
    <%= render 'index', tweets: @search_tweet %>
  <% else %>
    <%= render 'tweet_index', tweets: @tweets %>
  <% end %>


