<div class="container px-5 px-sm-0">
  <div class= "row">
    <div class="col-sm-12">
      <h1>投稿一覧</h1>
      <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th></th>
              <th>行きたい場所の写真</th>
              <th>行きたい場所</th>
              <th>詳細</th>
              <th colspan=2></th>
            </tr>
          </thead>
          <tbody>
            <% @tweets.each do |tweet| %>
              <tr>
                <td>
                  <%= link_to user_path(tweet.user.id) do %>
                    <%= image_tag tweet.user.get_profile_image(50,50), class: "user-icon" %><br>
                    <%= tweet.user.name %>
                  <% end %>
                </td>
                <td>
                  <%= link_to tweet_path(tweet.id) do %>
                     <%= image_tag tweet.get_image(500, 500) %>
                  <% end %>
                </td>
                <td>
                  <%= tweet.title %>
                </td>
                <td>
                  <%= tweet.body %>
                </td>
                <td>
                  <!--コメント機能-->
                  <%= link_to "💬#{tweet.comments.count} ", tweet_path(tweet.id) %>
                  <!--いいね機能-->
                  <div id = "like_btn_<%= tweet.id %>">
                    <%= render "public/likes/likes", tweet: tweet %>
                  </div>
                </td>
                <td>
                  <% if tweet.user == current_user %>
                    <%= link_to "編集", edit_tweet_path(tweet) %>
                    <%= link_to "削除", tweet_path(tweet), method: :delete %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>
  </div>
</div>