<div class="container">
  <div class="row mt-4">
    <div class="col">
      <h2 class="text-center">新規投稿</h2>
    </div>
  </div>
  <div class="row mt-2">
    <div class="mx-auto">
      <%= form_with model: @tweet do |f| %>
        <!--エラーメッセージ-->
        <%= render 'layouts/error_message', model: f.object %>
        <table class="table table-borderless shadow table-row">
          <tr>
            <th><%= f.label :行きたい場所の写真 %></th>
            <td><%= f.file_field :image,accept: "image/*" %></td>
          </tr>
          <tr>
            <th><%= f.label :都道府県 %></th>
            <td>
              <div class="append__prefecture">
                <div class="category">
                  <div class="form__label">
                    <div class="lavel__Required">
                      <%= f.collection_select :prefecture_id, @parents, :id, :name,{ include_blank: "選択してください"},class:"serect_field", id:"item_prefecture_id" %>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th><%= f.label :タイトル %></th>
            <td><%= f.text_field :title, placeholder:"〜へいきたい！など",size: "50" %></td>
          </tr>
          <tr>
            <th><%= f.label :詳細コメント %></th>
            <td><%= f.text_area :body, placeholder:"〇〇市〇〇町/観光地名やお店の名前/魅力ポイントなど" ,size: "50x10"%></td>
          </tr>
          <tr>
            <th></th>
            <td style="text-align:right"><%= f.submit '投稿',class: "btn btn-outline-primary" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
