<h1>新規投稿</h1>
  <%= form_with model: @tweet do |f| %>
    <%= f.label :行きたい場所の写真 %>
    <%= f.file_field :image,accept: "image/*" %>

    <%= f.label :場所の詳細 %>
    <%= f.text_field :title, placeholder:"〇〇市〇〇町" %>

    <%= f.label :コメント %>
    <%= f.text_area :body, placeholder:"観光地名やお店の名前　/　魅力ポイントなど" %>

    <%= f.label :都道府県 %>
    <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, { prompt: '選択してください' } %>

    <%= f.submit '投稿' %>
  <% end %>

  <%# render 'layouts/error_message',meodel: @tweet %>

