<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center">通知一覧</h2>
    </div>
  </div>
  <div class="row ml-md-5">
    <div class="col-md-12 col-sm-5">
      <% if @activities.present? %>
        <% @activities.each do |activity| %>
          <% if activity.read? %>
            <%= link_to user_path(activity.subject.user.id) do %>
              <%= image_tag activity.subject.user.get_profile_image(150,150),class: "user-icon my-1" %>&emsp;
            <% end %>
            <%= link_to read_user_activity_path(current_user,activity), method: :patch, class: "text-muted" do %>
              <%= activity.subject.name %>さんが&nbsp;<%= activity.action_type_i18n %>&emsp;
              <i class="fas fa-history"></i>&nbsp;<%= activity.created_at.strftime('%Y/%m/%d %H:%M') %><br>
            <% end %>
          <% else %>
            <%= link_to user_path(activity.subject.user.id) do %>
              <%= image_tag activity.subject.user.get_profile_image(150,150),class: "user-icon my-1" %>&emsp;
            <% end %>
            <%= link_to read_user_activity_path(current_user,activity), method: :patch do %>
              <%= activity.subject.name %>さんが&nbsp;<%= activity.action_type_i18n %>&emsp;
              <i class="fas fa-history"></i>&nbsp;<%= activity.created_at.strftime('%Y/%m/%d %H:%M') %><br>
            <% end %>
          <% end %>
        <% end %>
        <div class="paginate mt-4">
          <%= paginate @activities %>
        </div>
      <% else %>
        <p class="text-center mt-3">通知はありません</p>
      <% end %>
    </div>
  </div>
</div>
