<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h1 class="text text-center">会員一覧</h1>
    </div>
  </diV>
  <div class="row">
    <div class="mx-auto">
      <table class="table table-hover">
        <thead class="table">
          <tr>
            <th>プロフィール画像</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>投稿数</th>
            <th>ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to admin_user_path(user.id) do %>
                <%= image_tag user.get_profile_image(50,50), class: "user-icon" %><br>
              <% end %>
            </td>
            <td>
              <%= link_to admin_user_path(user.id) do %>
                <%= user.name %>
              <% end %>
            </td>
            <td>
              <%= user.email %>
            </td>
            <td>
              <%= user.tweets.count %>
            </td>
            <td>
              <% if user.is_deleted %>
              <span style="color:red">退会</span>
              <% else %>
              <span style="color:green">有効</span>
              <% end %>
            </td>
            <td>
              <!--<%# if current_user.admin? signed_in? %>-->
                <%= link_to "編集",edit_admin_user_path(user.id) %>
              <!--<#% end %>-->
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
