<div class="container">
  <h2 class="text-center">フォロー</h2>
  <% if @users.exists? %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">ユーザー名</th>
            <th scope="col">自己紹介</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= link_to user_path(user.id) do %>
                  <%= image_tag user.get_profile_image(50,50), class: "user-icon" %><br>
                <% end %>
              </td>
              <td style="width:170px; min-width:170px;">
                <%= link_to user_path(user.id) do %>
                  <%= user.name %>
                <% end %>
              </td>
              <td style="width:600px; min-width:600px;"><%= user.introduction %></td>
              <td style="width:200px; min-width:200px;"><%= render "public/relationships/follow_btn", user: user %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="mt-5">
      <p class="text-center">ユーザーはいません</p>
    </div>
  <% end %>
</div>