<h1><i class="fas fa-grin-hearts"></i>をした投稿一覧</h1>
  <% @like_tweets.each do |tweet| %>
    <%= link_to user_path(tweet.user.id) do %>
      <%= image_tag tweet.user.get_profile_image(50,50), class: "user-icon" %>
      <%= tweet.user.name %>
    <% end %>
    <%= image_tag tweet.get_image(280,280) %>
    <div id = "like_btn_<%= tweet.id %>">
      <%= render "public/likes/likes", tweet: tweet %>
    </div>
  <% end %>


