<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-12">
      <h2 class="text-center"><i class="fas fa-heart heart"></i>をした投稿一覧</h2>
    </div>
  </div>
  <div class="row mt-2">
    <div class="d-flex justify-content-center flex-wrap flex-row col">
      <% @like_tweets.each do |tweet| %>
        <div class="card-deck ml-1 mb-1" style="width:310px;">
          <div class="card shadow">
            <div class="text-center mt-2">
              <%= link_to tweet_path(tweet.id) do %>
                <%= image_tag tweet.get_image(260,240) %>
              <% end %>
            </div>
            <div class="card-body">
              <h6 class="card-title text-left">
                <%= link_to user_path(tweet.user.id) do %>
                  <%= image_tag tweet.user.get_profile_image(50,50), class: "user-icon" %>
                  <%= tweet.user.name %>
                <% end %>
              </h6>
              <h5 class="text-left"><%= tweet.prefecture.name %></h5>
              <div style="height:80px"><h5 class="card-subtitle text-left"><%= tweet.title %></h5></div>

              <div class="d-flex justify-content-end ">
              <!--いいね機能-->
                <div id = "like_btn_<%= tweet.id %>">
                  <%= render "public/likes/likes", tweet: tweet %>
                </div>&emsp;
                <%#= link_to "#{tweet.comments.count} ", tweet_path(tweet.id) %>
                <!--コメント機能-->
                <div>
                  <%= link_to tweet_path(tweet.id) do %>
                    <i class="far fa-comment fa-2x comment"></i><%= tweet.comments.count %>
                  <% end %>&emsp;
                </div>
                <%= link_to "詳細", tweet_path(tweet.id),class: "btn btn-outline-info btn-sm" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
