<div class="container">
  <div class="row mt-5">
    <div class="col-3">
      <!-- сЃдсЃ╝сѓХсЃ╝сЂ«УЕ│у┤░ -->
      <table>
        <tr>
          <td colspan=2>
            <%= image_tag @user.get_profile_image(150,150), class: "user-icon-mypage" %>
          </td>
        <tr>
          <td colspan=2><%= @user.name %></td>
        </tr>
        <tr>
          <td colspan=2><%= @user.introduction %></td>
        </tr>
        <tr>
          <td>сЃЋсѓЕсЃГсЃ╝</td>
          <td>сЃЋсѓЕсЃГсЃ»сЃ╝</td>
        </tr>
        <tr colspan=2>
          <td>сЂёсЂёсЂГсЂЌсЂЪТіЋуе┐</td>
        </tr>
        <tr>
          <td colspan=2>
            <% if user_signed_in? && @user == current_user %>
              <%= link_to edit_user_path(current_user.id) do %>
                сЃЌсЃГсЃЋсѓБсЃ╝сЃФуиежЏє<i class="fas fa-cog"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>

    <!-- сЃдсЃ╝сѓХсЃ╝сЂ«ТіЋуе┐СИђУдД -->
    <div class="d-flex align-content-around flex-wrap col-9">
      <% @tweets.each do |tweet| %>
        <div>
          <%= link_to tweet_path(tweet.id) do %>
            <%= image_tag tweet.get_image(300,300) %>
          <% end %>
          <p>жЃйжЂЊт║юуюї</p>

            <%= link_to "­Ъњг #{tweet.comments.count} ", tweet_path(tweet.id) %>
            <!--сЂёсЂёсЂГТЕЪУЃй-->
            <div id = "like_btn_<%= tweet.id %>">
              <%= render "public/likes/likes", tweet: tweet %>
            </div>
        </div>
      <% end %>
    </div>
  </div>
<!--сЃЋсѓЕсЃГсЃ╝сЃюсѓ┐сЃ│  -->
<div>
  <%= render "public/relationships/follow_btn", user: @user %>
</div>

   <div>
     <%= link_to follows_user_path(@user) do %>
     <h6>сЃЋсѓЕсЃГсЃ╝<%= @following_users.count %></h6>
     <% end %>&nbsp;&nbsp;
     <%= link_to followers_user_path(@user) do %>
     <h6>сЃЋсѓЕсЃГсЃ»сЃ╝<%= @follower_users.count %></h6>
     <% end %>
   </div>

