<div class="container">
  <div class="row mt-5">
    <div class="col-3">
      <!-- ユーザーの詳細 -->

      <table>
        <tr>
          <td colspan="４">
            <%= image_tag @user.get_profile_image(150,150), class: "user-icon-mypage" %>
          </td>
          <td></td>
          <td><%= @user.name %></td>
          <td><%= @user.introduction %></td>
        </tr>
        <tr>
          <td>いいねした投稿</td>
          <td>フォロー</td>
          <td>フォロワー</td>
        </tr>
        <tr>
          <td>
            <%= link_to edit_user_path(current_user.id) do %>
              プロフィール編集<i class="fas fa-cog"></i>
            <% end %>
          </td>
        </tr>
      </table>
    </div>

    <!-- ユーザーの投稿一覧 -->
    <div class="d-flex align-content-around flex-wrap col-9">
      <% @tweets.each do |tweet| %>
        <div>
          <%= link_to tweet_path(tweet.id) do %>
            <%= image_tag tweet.get_image(300,300) %>
          <% end %>
          <p>都道府県</p>
          <p><%= link_to "#{tweet.comments.count} コメント", tweet_path(tweet.id) %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
