<!DOCTYPE html>
<html>
  <head>
    <title>tabizuki</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main class="main">
      <!--フラッシュメッセージ-->
      <p class="notice text-center" style="color: #FF9999"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <p class="notice text-center" style="color: red"><%= flash[:error] %></p>
      <%= yield %>
    </main>
    <footer class="footer mt-5">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
